<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/mediaQueryStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="logoBuscador">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
                </div>
                <div class="search-button">
                    <div class="search">
                        <input type="text" placeholder="Buscar productos,marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="pago">
                <h2 class="card-tittle"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <div class="menu-container">
                <ul class="listas">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>


                <ul class="listas">
                    <li><a href="register" class="enlaces">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a>
                    </li>
                    <li><a href="login" class="enlaces">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                    </li>
                    <li><a href="#" class="enlaces">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>

            </div>

            <div class="burgerMenu">
                <i class="fas fa-bars"></i>
            </div>

    </header>

    <main>
        <img class="banner" src="../images/img-home-banner.jpg"> </div>
        <h3>Basado en tu última visita</h3>
        <div class="container">
            <div class="container1">

                <article>
                    <div class="main-articulo">
                        <div class="imagen"><img class="imagen" src="../images/img-cafetera-moulinex.jpg" alt="imagen">
                        </div>
                        <div class="articulos"><i class="fa-solid fa-truck"></i>
                            <div class="art">
                                <p class="precio">$6.770</p>
                                <p class="descuento">40% OFF</p>
                            </div>
                            <h4>Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>


                <article>
                    <div class="main-articulo">
                        <div class="imagen"><img class="imagen" src="../images/img-macbook-pro-2019.jpg" alt="imagen">
                        </div>
                        <div class="articulos"><i class="fa-solid fa-truck"></i>
                            <div class="art">
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                            <h4>CMacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>


                <article>
                    <div class="main-articulo">
                        <div class="imagen"><img class="imagen" src="../images/img-samsung-galaxy-s10.jpg" alt="imagen">
                        </div>
                        <div class="articulos"><i class="fa-solid fa-truck"></i>
                            <div class="art">
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                            <h4>Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>


                <article>
                    <div class="main-articulo">
                        <div class="imagen"><img class="imagen" src="../images/img-tv-samsung-smart.jpg" alt="imagen">
                        </div>
                        <div class="articulos"><i class="fa-solid fa-truck"></i>
                            <div class="art">
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                            <h4>SmartTv Samsung 43"</h4>
                        </div>
                    </div>
                </article>


                <h5>Sección de Ofertas</h5>
                <div class="container2">

                    <article>
                        <div class="main-articulo">
                            <div class="imagen"><img class="imagen" src="../images/img-cafetera-moulinex.jpg"
                                    alt="imagen">
                            </div>
                            <div class="articulos"><i class="fa-solid fa-truck"></i>
                                <div class="art">
                                    <p class="precio">$6.770</p>
                                    <p class="descuento">40% OFF</p>
                                </div>
                                <h4>Cafetera Moulinex</h4>
                            </div>
                        </div>
                    </article>


                    <article>
                        <div class="main-articulo">
                            <div class="imagen"><img class="imagen" src="../images/img-macbook-pro-2019.jpg"
                                    alt="imagen">
                            </div>
                            <div class="articulos"><i class="fa-solid fa-truck"></i>
                                <div class="art">
                                    <p class="precio">$230.000</p>
                                    <p class="descuento">20% OFF</p>
                                </div>
                                <h4>CMacBook Pro 2019</h4>
                            </div>
                        </div>
                    </article>


                    <article>
                        <div class="main-articulo">
                            <div class="imagen"><img class="imagen" src="../images/img-samsung-galaxy-s10.jpg"
                                    alt="imagen">
                            </div>
                            <div class="articulos"><i class="fa-solid fa-truck"></i></i>
                                <div class="art">
                                    <p class="precio">$70.500</p>
                                    <p class="descuento">10% OFF</p>
                                </div>
                                <h4>Samsung Galaxy S10</h4>
                            </div>
                        </div>
                    </article>
                    <article class="fin">
                        <div class="main-articulo">
                            <div class="imagen"><img class="imagen" src="../images/img-tv-samsung-smart.jpg"
                                    alt="imagen">
                            </div>
                            <div class="articulos"><i class="fa-solid fa-truck"></i>
                                <div class="art">
                                    <p class="precio">$23.200</p>
                                    <p class="descuento">5% OFF</p>
                                </div>
                                <h4>SmartTv Samsung 43"</h4>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <div class="pie-de-pagina">
            <i class="fa-solid fa-credit-card foter"></i>
            <p class="p-footer">Pagá con tarjeta o en efectivo</p>
            <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="pie-de-pagina">
            <i class="fa-solid fa-gift foter"></i>
            <p class="p-footer">Envío gratis desde $ 2.500</p>
            <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </div>
        <div class="pie-de-pagina">
            <i class="fa-solid fa-user-shield foter"></i>
            <p class="p-footer">Seguridad, de principio a fin</p>
            <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>

    </footer>
    <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>

</html>