<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <header class="header">
        <div class="logoBuscador">
        <img class="img1" src="/images/logo-mercado-liebre.svg"  alt="Logo de MercadoLiebre">
        <input type="text" name="" id="" value="Buscar productos,marcas">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>

    </div>
    <div class="pago">
        <p><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <div class="listado1" >
       <ul class="espacio">
        <li><a href="#" class="enlace">Ofertas</a></li>
        <li><a href="#"class="enlace">Tiendas Oficiales</a></li>
        <li><a href="#"class="enlace">Vender</a></li>
        <li><a href="#"class="enlace">Ayuda</a></li></ul>


    <ul class="lista2">
        <ul class="espacio"><a href="#" class="enlace">Creá tu cuenta</a>
        <i class="fa-regular fa-id-card"></i>
        <li><a href="../home.html" class="enlace">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="#" class="enlace">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li></ul></ul>
    </li>
    </div> 

     <div class ="burgerMenu">
        <i class="fas fa-bars"></i>
    </div>
    
    </header>
    <main>














        
    </main>
    <footer class="footer">
        <i class="fa-solid fa-credit-card foter"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>

        <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fa-solid fa-gift foter"></i>
        <h4>Envío gratis desde $ 2.500</h4>

        <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fa-solid fa-user-shield foter"></i>
        <h4>Seguridad, de principio a fin</h4>

        <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>


        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>