* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.logoBuscador {
    background-color: #EAC926;

}

.logo {
    width: 50%;
    padding: 20px;
}

.search-button {
    padding: 15px;
    position: relative;
    top: -65px;
    left: 185px;
}

main {
    background-color: #ebebeb;

}

body,
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}


h3 {
    font-size: 24px;
    margin: 15px;
    color: #666;
}

.imagen {
    width: 90%;
    text-align: center;
    position: relative;
    left: 10px;

}

.main-articulo {
    width: 90%;
    background-color: white;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
    box-shadow: 0 0 10px 1px #666;

}

h4 {
    color: #666;  
}

h5 {
    color: #666;
    font-size: 24px;
    margin: 15px;
    text-align: start;
}
.p-footer{
    color: #666;
}
.articulos {
    border-top: 2px solid #ebebeb;
    padding: 10px;

}


.banner {
    width: 100%;
}



.fa-truck {
    display: block;
    color: #39b54a;
    font-size: 16px;
    border: #39b54a 1px solid;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    width: 30px;
    height: 30px;
    left: 270px;
    top: -25px;
}

.pago {
    position: relative;
    top: -25px;
    text-align: center;
    font-size: 10px;
}

.burgerMenu {
    background-color: #1259c3;
    color: white;
    max-width: 40px;
    padding: 10px 10px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 15px;
}

.menu-container {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.enlaces {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

footer {
    text-align: center;
}

.foter {
    color: #1259c3;
    font-size: 20px;
    margin: 15px 5px 5px 5px;
    
}
.foter:hover{
    color:#EAC926;
}

.pie-de-pagina {
    margin: 15px;
    font-size: 12px;
}

.copy {
    font-size: 12px;
    position: relative;
    left: 94px;
}

.descuento {
    color: #39b54a;
    width: 70%;
}

.precio {
    width: 30%;
}
.art {
    display: flex;
    margin-bottom: 12px;
}
.search {
    font-size: 12px;
}
.usuario {
    width: 300px;
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;

}

.contraseña {
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;

}

.enter {
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    background-color: #1259c3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.enter:hover{
    background-color: #0022AA;
}

input {
    border: 0;
}

.submit-login {
    background-color: #1259c3;
    color: white;
    font-size: 12px;
}

form input[type="password"] {
    font-size: 12px;
}

form input[type="text"] {
    font-size: 12px;
}

.main-de-login {
    padding: 12px;
}

.registro-usuario {
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
}

.h2-register {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: 14px;
}

input[type="date"] {
    width: 300px;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    padding: 7px;
}

.registro-enviar {
    width: 51px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-register {
    background-color: white;
}

.reset-register {
    background-color: white;
}

.foto-usuario {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-register {
    padding-top: 18px;
    padding-bottom: 18px;
}

.checkbox-register {
    margin: 0 60px;
    margin-bottom: 13px;
    font-size: 12px;
}

.perfil-de-usuario-register {
    margin: 0 60px;
    margin-bottom: 13px;
    margin-top: -10px;
    position: relative;
    right: 44px;
    font-size: 12px;
}

.em {
    font-size: 12px;
}

.comprador {
    position: relative;
    top: -15px;
    left: 91px;
}

.vendedor {
    position: relative;
    bottom: 47px;
    left: 238px;
}

.input-comprador {
    position: relative;
    left: 52px;
}

.input-vendedor {
    position: relative;
    top: -30px;
    left: 197px;
}

.register2 {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    font-size: 14px;
    margin-top: -41px;
}

.interes {
    position: relative;
    margin-bottom: 16px;
}
.body-login{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.body-register{
    display: grid;
    grid-template-rows: auto 1fr auto;
}